    <div id="footer_container" class="container-fluid">
      <footer>
        <div class="row">
          <div class="col-sm-2 custom-col-20 col-sm-offset-1 spacer">
            <div class="row">
              <div class="footer-fa-responsive">
                <i class="fa fa-phone fa-2x color" aria-hidden="true"></i>
              </div>
              <div class="col-xs-8">
                <h3>
                  <strong>Call</strong>
                </h3>
              </div>
              <div class="col-xs-8">
                <h3>
                  C: 845-337-1320
                </h3>
              </div>
            </div>
          </div>
          <div class="col-sm-3 spacer">
            <div class="row">
              <div class="footer-fa-responsive">
                <i class="fa fa-envelope-o fa-2x color" aria-hidden="true"></i>
              </div>
              <div class="col-xs-8">
                <h3>
                  <strong>Contact</strong>
                </h3>
              </div>
              <div class="col-xs-8">
                <h3>
                  george@georgeh2os.com
                </h3>
              </div>
            </div>
          </div>
          <div class="col-sm-2 spacer">
            <div class="row">
              <div class="footer-fa-responsive">
                <i class="fa fa-plus fa-2x color" aria-hidden="true"></i>
              </div>
              <div class="col-xs-7">
                <h3>
                  <strong>Follow Me</strong>
                </h3>
              </div>
              <div class="col-xs-7">
                <h3 id="footer_social">
                  <a href="https://www.facebook.com/georgewaters16" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a> <a href="https://www.linkedin.com/pub/george-waters/40/342/43a" target="_blank"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                </h3>
              </div>  
            </div>
          </div>
          <div class="col-sm-2 custom-col-20 spacer">
            <div class="row">
              <div class="footer-fa-responsive">
                <i class="fa fa-copyright fa-2x color" aria-hidden="true"></i>
              </div>
              <div class="col-xs-8">
                <h3>
                   © 2016 by George Waters
                </h3>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>