    <nav class="navbar navbar-default">
      <div class="container narrow-nav-container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site_navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1><a class="navbar-brand" href="/">George Waters<br><span id="smaller_heading">iOS App Developer</span></a></h1>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="site_navbar">
          <ul id="header-navbar" class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/resume/">Resume</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/projects/"><strong>Projects</strong></a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/projects/15-number-slide/">15 Number Slide</a></li>
                <li><a href="/projects/states-plates/">States Plates Challenge</a></li>
                <li><a href="/projects/the-tictactoe/">THE TicTacToe</a></li>
              </ul>
            </li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>